.drag-area {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.card {
  width: 290px;
  padding: 16px;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: move;
}

.label {
  font-weight: bold;
}

.value {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.status.green {
  color: #28a745;
}
.status.blue {
  color: #007bff;
}
.status.red {
  color: #dc3545;
}
