<div class="cards">
  <div class="card" cdkDrag>
    <p class="label"><i class="bi bi-currency-dollar me-2"></i>Total Sales</p>
    <p class="value">2500</p>
    <p class="status green"><i class="bi bi-arrow-up-short me-1"></i>+4.9%</p>
  </div>
  <div class="card" cdkDrag>
    <p class="label">
      <i class="bi bi-person-plus-fill me-2"></i>New Customers
    </p>
    <p class="value">110</p>
    <p class="status blue"><i class="bi bi-arrow-up-short me-1"></i>+7.5%</p>
  </div>
  <div class="card" cdkDrag>
    <p class="label">
      <i class="bi bi-arrow-counterclockwise me-2"></i>Return Products
    </p>
    <p class="value">72</p>
    <p class="status red"><i class="bi bi-arrow-down-short me-1"></i>-6.0%</p>
  </div>
  <div class="card" cdkDrag>
    <p class="label"><i class="bi bi-wallet2 me-2"></i>Total Revenue</p>
    <p class="value">$8,220.64</p>
  </div>
</div>
