<!-- <div class="charts">
  <div class="chart-box">
    <i class="bi bi-pie-chart me-2">
      <echarts
        [options]="chartOptions"
        class="chart-container"
        style="width: 500px; height: 350px"
      ></echarts></i
    >Revenue Analytics (Chart Placeholder)
  </div>
  <div class="chart-box">
    <i class="bi bi-globe-americas me-2"></i>Growth by Country (Map Placeholder)
  </div>
</div> -->
<div class="charts">
  <div class="chart-box">
    <i class="bi bi-pie-chart me-2">
      <echarts
        [options]="chartOptions"
        class="chart-container"
        style="width: 500px; height: 350px"
      ></echarts>
    </i>
    Revenue Analytics
  </div>

  <div class="chart-box">
    <i class="bi bi-globe-americas me-2">
      <echarts
        [options]="growthMapOptions"
        class="chart-container"
        style="width: 600px; height: 400px"
      ></echarts>
    </i>
    Growth by Country
  </div>
</div>
