<div class="orders" cdkDrag>
  <h2><i class="bi bi-receipt-cutoff me-2"></i>Recent Orders</h2>
  <table>
    <thead>
      <tr>
        <th><i class="bi bi-hash me-1"></i>Order ID</th>
        <th><i class="bi bi-calendar me-1"></i>Date</th>
        <th><i class="bi bi-person me-1"></i>Customer</th>
        <th><i class="bi bi-box-seam me-1"></i>Category</th>
        <th><i class="bi bi-info-circle me-1"></i>Status</th>
        <th><i class="bi bi-boxes me-1"></i>Items</th>
        <th><i class="bi bi-cash-coin me-1"></i>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#878909</td>
        <td>2 Dec 2026</td>
        <td>Oliver John Brown</td>
        <td>Shoes, Shirt</td>
        <td>
          <span class="status orange"
            ><i class="bi bi-hourglass-split me-1"></i>Pending</span
          >
        </td>
        <td>2 Items</td>
        <td>$789.00</td>
      </tr>
      <tr>
        <td>#878909</td>
        <td>1 Dec 2026</td>
        <td>Noah James Smith</td>
        <td>Sneakers, T-shirt</td>
        <td>
          <span class="status green"
            ><i class="bi bi-check-circle me-1"></i>Completed</span
          >
        </td>
        <td>3 Items</td>
        <td>$967.00</td>
      </tr>
    </tbody>
  </table>
</div>
